.helper-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @media(max-width: 767px) {
    width: 100%;
  }

  @media(max-width: 479px) {
    width: 100%;
  }

  &-helperData  {
    color: white;
    font-size: 18px;
    text-align: center;
    padding: 0 10px;
    width: 80%;

    @media (max-width: 479px) {
      display: none;
    }
  }

  &-tools {
    display: flex;

    .image-btn {
      @media (max-width: 767px) {
        display: none;
      }
    }

    .translate-btn {
      @media (max-width: 479px) {
        display: none;
      }
    }

    &-helperItem {
      cursor: pointer;

      &.on {
        opacity: .5;
      }
    }
  }
}
