span.before,
span.after {
  padding: 0.3rem 0;
}

.crd {
  min-height: 300px;

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    @media (max-width: 576px) {
      padding: 10px;
    }
  }

  &__word {
    white-space: nowrap;
    @media (max-width: 400px) {
      font-size: 1.3rem;
    }
  }

  &__button {
    width: 100%;
    min-width: 65px;
  }

  &__title {
    text-overflow: ellipsis;
    overflow: hidden;
    @media (max-width: 400px) {
      font-size: 1.5rem;
    }
  }

  &__image-block {
    display: flex;
    align-items: center;
  }

  &__image-association {
    height: auto !important;
  }

  &__list > .list-group-item:nth-of-type(even) {
    background-color: rgba(0, 0, 0, 0.05);
  }
  &__input-block {
    margin-top: 5px;
  }

  &__input-block > div {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  &__sentence {
    font-size: 1rem;
    font-weight: bold;
  }

  &__sentence-translate {
    font-size: 0.8rem;
  }
}

.no-wrap {
  white-space: nowrap;
}
