.sentence-container  {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;

  &-num {
    position: absolute;
    left: -38px;
    top: 7px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(78, 165, 177);
    color: rgb(78, 165, 177);
    line-height: 25px;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
