* {
    box-sizing: border-box;
}

.app-describe-audio {
    color: rgb(7, 25, 53);
    font-weight: bold;
}

.app-level-audio {
  color: rgb(7, 25, 53);
}

.guide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%
}

.play-button {
    margin-top: 10px;
    width: 8vw;
    height: 3.5vw;
    margin-right: 1vw;
    background-color: rgb(177, 115, 235);
    border-radius: 3px;
    color: #fff;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 20px;
}

.play-button:hover {
    background-color: rgb(180, 134, 224);
    transition: .1s ease-in-out;
}

.play-button:active {
    opacity: 0.5;
}

/* .button-translate {
  display: flex;
  flex-direction: row;
} */

.button-translate-word {
  margin: 10px;
  padding-left: inherit;
}

.image-words {
  margin: 10px;
  border-radius: 100px;
  border: 2px solid #3f4752;
  box-shadow: 0 0 20px #837bf3;
  width: 160px;
  height: 150px;
}

.disabled {
  pointer-events: none;
}

.correctAnswer {
  background-color: #c9ffe3;
}
.wrongAnswer {
  background-color: #ffc9c9;
}

.button-next {
  width: 100px;
  height: 40px;
  font-size: 20px;
  line-height: 20px;
}

.GameOver-text {
  color: #0aa8c4;
}

.GameOver-text-header {
  background-color: #d6feff;
}

.GameOver-text-resault {
  background-color: #d6feff;
}



.Image-word {
  height: 10vh;
  pointer-events: none;
}

.App-header {
  background-image: url("https://raw.githubusercontent.com/Alexey-Koren/rslang/assets/assets/AudioChallenge/audio-challenge-background.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  padding: 30px 20px;
  width: 100%;
}

.App-link {
  color: #61dafb;
}

.word-list {
  display: flex;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.word-list li {
  margin: 5%;
}

.word-english,
.audio-challenge-score {
  background-color: #007bff;
  padding: 10px;
  color: white;
  border-radius: 20px;
  margin-bottom: 10px;
}

.audio-challenge-results {
  background-color: #d6feff;
  border-radius: 10px;
  padding: 10px;
}
