.modal-settings {
    position: absolute;
    top: 68px;
    right: 2px;
    padding: 20px;
    background-color: white;
    border: 2px solid blue;
    border-radius: 5px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    z-index: 1;

    form {
      display: flex;
      flex-direction: column;
    }

    &-btn {
      align-self: flex-end;
    }

  @media(max-width: 767px) {
    align-items: flex-start;
  }

  @media(max-width: 440px) {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
  }
}
