.english-puzzle {
  background-color: rgba(99, 85, 73, 0.7);
  width: 100%;
  background-image: url("https://raw.githubusercontent.com/Alexey-Koren/rslang/assets/assets/EnglishPuzzle/english-puzzle-background.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  padding: 30px 20px;
}
