$mainColor: rgb(15, 76, 129);

.startScreen-container {
  color: rgb(250, 248, 233);
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url('../../../../assets/ourCustomGame/brain.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: rgb(207, 243, 250);

  &-title {
    text-transform: uppercase;
    font-size: 35px;
    font-weight: bold;
    text-shadow: 4px 2px 2px black;
    background: $mainColor;
    width: 100%;
    text-align: center;
    padding: 5px 20px;
  }

  &-discription {
    margin: 10px 0;
    padding: 10px 20px;
    font-size: 22px;
    background-color: rgba(15, 76, 129, .7);
    color: rgb(215, 240, 247);
    font-size: 22px;
    text-shadow: 2px 1px black;
  }

  h4 {
    text-align: center;
  }
}
