$mainColor: rgb(15, 76, 129);

.startScreen-container {
  color: rgb(250, 248, 233);
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(250, 247, 207);

  &-discription {
    text-align: center;
    margin: 10px 0;
    padding: 10px 20px;
    font-size: 22px;
    color: $mainColor;
    font-size: 22px;
    text-shadow: 1px 1px black;
    width: 100%;

    ol {
      list-style: none;
    }

    h4 {
      text-align: center;
    }
  }
}
