.our-custom-game {
  background-image: url("https://raw.githubusercontent.com/Alexey-Koren/rslang/assets/assets/OurCustomGame/memory-game-background.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  padding: 30px 20px;
}
