.sprint {
  background-image: url("https://raw.githubusercontent.com/Alexey-Koren/rslang/assets/assets/Sprint/imgSprint/sprint-background.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  padding: 30px 20px;
}

@media screen and (max-width: 620px) {
  .sprint {
    width: 100%;
  }
}
